.paragraph {
    font-size: 32px;
    color: blueviolet;
    text-align: center;
}

#page-heading {
    font-size: 36px; /* Adjust font size as needed */
    color: darkblue;
    padding: 10px;  /* Space between text and border */
    margin: 20px;   /* Space outside the border */
    border: 3px solid black; /* Adds a visible border */
    text-align: center; /* Optional: centers the text */
    background-color: lightgrey; /* Optional: makes the border stand out */ 
}

#store-link {
    color: darkblue;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#store-link:hover {
    color: purple;
    text-decoration: underline;
}

#lego-image {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
  }